
body {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://wallpapers.com/images/hd/galaxy-space-background-1080-x-1920-cvnxsk3ml8jdyzfa.jpg); 
    position: relative;
    margin: 0;
    padding: 0;
}

#title{
    --border-right: 6px;
    --text-stroke-color: #37FF8B;
    --fs-size: 1em;
    letter-spacing: 3px;
    text-decoration:double;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-shadow: 0 0 30px #37FF8B;
    margin: 0; 
  }
  
  #header {
    position: relative;
  }
   
    
  .navbar {
    display: flex;
    position: fixed;
    z-index: 3;
    height: 1.5rem;
    color: white;
    top: 0rem;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    background-color:#212122; 
  }
  
  
  .navbar a {
    font-size: 1em;
    color: #37FF8B;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  
  
  .navbar a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  
  
  
  
  
  .menu__item img {
    height: 5rem;
    border-radius: 50%;
  }
  
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 1.2rem;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    cursor: default;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100em;
    margin: 0;
    padding: 100px 0;
    z-index: 1;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__box a{
    color: white;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: all .25s ease-in-out;
  }
  .menu__item:hover {
    transform: scale(1.2);
    background-color: transparent;
  }
  
  #hiddenMsg{
    color: rgba(0, 0, 0, 0.8);
  }
  #hiddenMsg:hover {
    color: red;
  }



  #profileBox {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 80%;
    left: 10%;
    height: fit-content;
    top: 4em;
    border: 1px solid #3a2f2f;
    padding: 10px;
}

#username {
  text-align: right;
  width: 100%;
  display: block;
  position: relative;
  margin-top: 3rem ;
  font-size: 2rem;
  color: #37FF8B;
  text-shadow: #37FF8B 3px 3px 10px ;
  text-decoration: underline 1px  #616161;
}

#banner {
  position: relative;
    background-image: url("https://i.imgur.com/bDePe5R.jpg");
    background-size: cover;
    background-position: center;
    height: 10rem;
    border: 2px solid white;
}

#image {
    background-image: url("https://i.imgur.com/V1gIGAi.jpg");
    background-size: cover;
    position: relative;
    display: block;
    top: 6rem;
    left: 3rem;
    height: 10rem;
    width: 10rem;
    border: 2px solid white;
    border-radius: 50%;
}


#bio {
    position: relative;
    display: block;
    width: fit-content;
    top: 3rem;
    left: 1rem;
    margin-bottom: 3rem;
    font-size: 1rem;
    padding: 10px;
    color: #fff;
    border: 1px solid #3a2f2f;
}



.socialButtons a {
    margin: 10px;
    border-radius: 50%;
}

.socialButtons img {
    width: 40px;
    height: 40px;
}

  @media screen and (max-width: 768px) {
  
    #image{
        top: 7rem;
        left: 1rem;
        height: 5rem;
        width: 5rem;
    }
    #username{
        font-size: 1.2rem;
        top: 0rem;
        
    }
    #banner{
       top: 5rem;
       height: 5rem;
       width: 100%;
    }
   
}