<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Song Form</title>
    <link rel="stylesheet" href="/fileUpload/static/fileUpload.css">
</head>
<body>

<div class="upload-form">
    <h2>Upload Song</h2>
    <form id="uploadForm" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="songName">Song Name:</label>
            <input type="text" id="songName" name="songName" value="Song Name" required>
        </div>
        <div class="form-group">
            <label for="songGenre">Song Genre:</label>
            <input type="text" id="songGenre" name="songGenre" value="Song Genre..." required>
        </div>
        <div class="form-group">
            <label for="songAuthor">Song Author:</label>
            <input type="text" id="songAuthor" name="songAuthor" value="Song Author..." required>
        </div>
        <div class="form-group">
            <label for="songImage">Song Image Link:</label>
            <input type="text" id="songImage" name="songImage" >
            <p style="color: red ;">(* IMG Cropped to square) </p>
        </div>
        <div class="form-group">
            <label for="fileUpload" class="custom-upload-btn">Choose File</label>
            <input type="file" id="fileUpload" name="fileUpload" accept="audio/*" class="custom-upload-btn" required>
            <span class="upload-filename"></span>
            <img src="" alt="Song Preview" class="upload-preview" id="previewImage">
        </div>
        <div class="audio-player" id="audioPlayer">
            <audio controls id="audioControl">
                Your browser does not support the audio element.
            </audio>
        </div>
        
        <button type="submit" id="uploadButton">Upload</button>

    </form>
</div>



<script src="/fileUpload/static/fileUpload.js"></script>

</body>
</html>
